{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<script defer src="{% static 'js/movie-detail.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if object %}
    <h1>Edit {{ object.name }}</h1>
  {% else %}
    <h1>Add Movie</h1>
  {% endif %}
  <img src="{% static 'images/ElvisCool.png' %}" alt="Elvis Movie"/>
</div>
{% comment %} 
  Leaving the action empty makes the form post to the same url used to display it
{% endcomment %}

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}