{% comment %} {% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/song-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Elvis Songs</h1>
  <img src="{% static 'images/' %}" alt="elvis1" />
  <img src="{% static 'images/' %}" alt="elvis2" />
  <img src="{% static 'images/' %}" alt="elivs3" />
  <img src="{% static 'images/' %}" alt="elvis4" />
</section>

<section class="card-container">
  {% for song in song_list %}
  <div class="card" style="border-color: {{ song.name }}">
    <div class="card-bg" style="background-color: {{ song.name }}"></div>
    <a href="{% url 'song_detail' song.id %}">
      <div class="card-content">
        <h2>{{ song.name }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %} {% endcomment %}