{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}
<body>
<div class="about">
  <h1> Who Was Elvis? </h1>
  
  <h2>
    Elvis Presley came from very humble beginnings and grew up to become one of the biggest names in rock 'n' roll. By the mid-1950s, he appeared on the radio, television and the silver screen. On August 16, 1977, at age 42, he died of heart failure, which was related to his drug addiction. Since his death, Presley has remained one of the world's most popular music icons.
  </h2>
  <hr>
</div>
<div class="life">
  <h1> Elvis's Early Life </h1>
  <h2>
    For Elvis Presley, childhood and adolescence were difficult and often involved working to help the family with finances. He picked up music early from local gospel groups and picked up the guitar when he was only 11 years old. Fast forward to young adult hood, Elvis soon joined the military.
  </h2>
  <hr>
</div>
<div class="fame">
  <h1> Movies and Soundtracks </h1>
  <h2>
    Coming out of the military, he continued recording music and acting in such films as Blue Hawaii (1961), Girls! Girls! Girls! (1962) and Viva Las Vegas (1964). Though his films were often hit or miss with both critics and audiences, they brought in a profit and the soundtracks usually sold well. By the late 1960s, however, the enigmatic performer appeared to be losing his box office appeal. Proving he was still the "King of Rock 'n' Roll," he recorded his first TV special in 1968, often referred to as the "'68 Comeback."
  </h2>
  <hr>
</div>
</body>
{% endblock %}

