{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/movie-detail.css' %}"
/>
<script defer src="{% static 'js/movie-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ movie.title }} {% endblock title %}</h1>
        <p class=" movie-description ">{{ movie.description }}</p>
        <p class="card-text ">{{ movie.recommend}}</p>
      </div>
    </div>
    <div class="thread-actions">
      <a href="{% url 'movies_update' movie.id  %}" class="btn warn">Edit</a>
      <a href="{% url 'movies_delete' movie.id  %}" class="btn danger">Delete</a>
    </div>
  </div>
</div>

{% endblock content %}