{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/movie-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Movie List</h1>
  <img src="{% static 'images/jukebox.png' %}" alt="jukebox" />
  <img src="{% static 'images/elvis1.png' %}" alt="elvis1" />
  {% comment %} <img src="{% static 'images/elvis3.png' %}" alt="elvis4" /> {% endcomment %}
  <img src="{% static 'images/elvis2.png' %}" alt="elvis2" />
  <img src="{% static 'images/Elvis3.png' %}" alt="Elvis3" />
</section>

<section class="card-container">
  {% for movie in movies %}
    <div class="card">
      <a href="{% url 'movies_detail' movie.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if movie.photo.url %}
              <img 
                src="{{movie.photo.url}}" 
                alt="A photo of {{movie.name}}"
                class="usr-img"
                  >
            {% else %}
              <img 
                src="{% static 'images/ElvisCool.png' %}" 
                alt="elvis"
              >
            {% endif %}
          </div>
          <h2 class="card-title">{{ movie.name }}</h2>
          
          <p><small>{{ movie.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}